<title>Npm Library Explorer</title>
<div id="landing-page" class="home-page" data-testid="home-page">
  <div class="form-control">
    <a routerLink="">
      <span class="npm_-_master_-_header">NPM LIBRARY EXPLORER</span>
    </a>
  </div>
  <div class="btn_-_list">
    <a routerLink="/npmstatus">
      <button type="button" class="btn a" id="npm-resgistry-btn">
        Npm Registry Status Monitor
      </button>
    </a>
    <a routerLink="/libraryhub">
      <button type="button" class="btn a" id="library-info-btn">Library Info Hub</button>
    </a>
    <a routerLink="/search">
      <button type="button" class="btn a" id="library-search-btn">Npm Library Search</button>
    </a>
  </div>
</div>

