<title>Npm Status Monitor</title>
<div>
  <div class="library-grid3">
    <div class="status">
      <div class="status-info">
        <h2 class="status-header">uuid</h2>
        <span class="status-info_-_details">{{stateOfNpm.uuid}}</span>
      </div>
      <div class="status-info">
        <h2 class="status-header">db_name</h2>
        <span class="status-info_-_details">{{stateOfNpm.db_name}}</span>
      </div>
      <div class="status-info">
        <h2 class="status-header">engine</h2>
        <span class="status-info_-_details">{{stateOfNpm.engine}}</span>
      </div>
    </div>
    <div class="btn_-_list">
      <a routerLink="/">
        <button type="button" class="btn a" id="home-page-btn-2">Home Page</button>
      </a>
      <a routerLink="/libraryhub">
        <button type="button" class="btn a" id="library-info-btn-2">Library Info Hub</button>
      </a>
    </div>
  </div>
</div>

