.latest {
    width: 33%;
    float: left;
    height: 75px;
}

.latest div {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.text {
    width: 33%;
    float: left;
    height: 75px;
}

.text input {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.button {
    width: 33%;
    float: left;
    height: 75px;
}

.button button {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}